<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mechanic Page</title>

    <!-- <link href="../../public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../public/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../../public/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../../public/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="../../public/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="../../public/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../../public/vendor/simple-datatables/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../../public/css/style1.css"> -->


    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">  
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/vendor" rel="stylesheet">
    <link href="/vendor" rel="stylesheet">
    <link href="/css/style1.css" rel="stylesheet">
</head>

<body class="mechanic">
  <video class="bg-vid" src="/images/vid.mp4" autoplay loop muted plays-inline></video>
  <div class="container">
    <div class="row bar">
      <div class="col-lg-4">
        <div id="glass" class="side d-flex flex-column flex-shrink-0 p-3" style="width: 280px;">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <span class="fs-4 link-light">Mechanic-home</span>
          </a>
          <hr>
          <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
              <a href="/mechanic-home" class="nav-link link-light" aria-current="page">
                Home
              </a>
            </li>

            <li>
              <a href="/mechanic-orders" class="nav-link link-light">appointments</a>
              </a>
            </li>
            
          </ul>
          <hr>
          <div class="dropdown">
            <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
              id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>